export(biodiversity)
export(buildRIVPACS)
export(getCalibrationData)
export(getCalibrationGroups)
export(getCalibrationVars)
export(getFormula)
export(getGroupInvCov)
export(getGroupMeans)
export(getModel)
export(getPhylo4)
export(getSamples)
export(getSites)
export(getTraits)
export(rarify)
importFrom(MASS,lda)
importFrom(nnet,multinom)
importFrom(phylobase,subset)
importFrom(phylobase,tipLabels)
importFrom(plyr,'.')
importFrom(plyr,aaply)
importFrom(plyr,alply)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(randomForest,randomForest)
importFrom(reshape2,acast)
importFrom(subselect,eleaps)
importFrom(subselect,ldaHmat)
S3method(getCalibrationData,rivpacs)
S3method(getCalibrationGroups,rivpacs)
S3method(getCalibrationVars,rivpacs)
S3method(getFormula,rivpacs)
S3method(getGroupInvCov,rivpacs)
S3method(getGroupMeans,rivpacs)
S3method(getModel,rivpacs)
S3method(getSamples,biodiversity)
S3method(getSamples,rivpacs)
S3method(getSites,biodiversity)
S3method(getSites,rivpacs)
S3method(getTraits,biodiversity)
S3method(predict,rivpacs)
S3method(print,biodiversity)
